<div class="row">
   <div class="col-xs-12">
    <h1>Items in the Library</h1>

<% @item_types.each do |item_type| %>
  <h3><%= item_type.name %></h3>

  <%= render item_type %>
  
<% end %>
  </div>
  </div>
  <div>
   <hr />  
    <%#= render 'layouts/item' %>
  </div>     
