  <div class="row">
   <div class="col-xs-12">
    <h1>Items in the Library</h1>

    <p>We have <%= @items.count %> Items!</p>
    <p><%= link_to 'New Item', new_item_path %></p>
   </div>
  </div>
  <div>
   <hr />  
    <%= render 'layouts/item' %>
  </div>     